<app-header [headerTrendingMovies]="trendingMovies"></app-header>

<div class="contanier my-5">
    
    <div class="row py-4" >
        <div class="col-md-4 py-4">
    
            <div class="brdr w-25 my-3"></div>
            <h2 class="my-3">Trending Movies <br/> To Watch Right Now</h2>
            <p class="">Trending Movies  To Watch Right Now</p>
            <div class="brdr w-100 my-3"></div>
        </div>
    
        <div *ngFor="let movie of trendingMovies" class="col-md-2">
            <div class="movie position-relative" >
                <a [routerLink]="['/moviedetails' , movie.id]">
                    <img [src]="imgPrefix+movie.poster_path" class="w-100" alt="">
                <h3 class="h6 fw-bolder">{{movie.title}}</h3>
                <div class="vote p-2 fw-bolder position-absolute top-0 end-0 bg-lights">{{movie.votr_average}}</div>
                </a>
                
            </div>
        </div>
    </div>
    
    
    
    <div class="row py-4" >
        <div class="col-md-4 py-4">
    
            <div class="brdr w-25 my-3"></div>
            <h2 class="my-3">Trending Tv <br/> To Watch Right Now</h2>
            <p class="">Trending Tv  To Watch Right Now</p>
            <div class="brdr w-100 my-3"></div>
        </div>
    
        <div *ngFor="let tv of trendingTv" class="col-md-2">
            <div class="tv position-relative" >
                <img [src]="imgPrefix+tv.poster_path" class="w-100" alt="">
                <h3 class="h6 fw-bolder">{{tv.name}}</h3>
                <div class="vote p-2 fw-bolder position-absolute top-0 end-0 bg-lights">{{tv.votr_average}}</div>
            </div>
        </div>
    </div>
    
    
    
    <div class="row py-4" >
        <div class="col-md-4 py-4">
    
            <div class="brdr w-25 my-3"></div>
            <h2 class="my-3">Trending People <br/> To Watch Right Now</h2>
            <p class="">Trending People  To Watch Right Now</p>
            <div class="brdr w-100 my-3"></div>
        </div>
    
        <div *ngFor="let person of trendingPeople" class="col-md-2">
            <div class="People position-relative" >
                <img [src]="imgPrefix+person.profile_path" class="w-100" alt="">
                <h3 class="h6 fw-bolder">{{person.name}}</h3>
            </div>
        </div>
    </div>
    
</div>
